# Python
__pycache__/
*.pyc
*.so
build/
dist/
*.egg-info/
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store

# Testing & Docs
.pytest_cache/
docs/_site/
htmlcov/
.coverage

# Data & Caches (NEVER commit large data/cache files)
data/
cache/

# W&B
wandb/

outputs/
